/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

.herodiv2 {
            
        font-family: Showcard Gothic;
        font-size: 20px;
        padding: 0px;
        margin: 0px;
        text-align: left;
        width: 100%;
    }
    
main figure.myphoto3 {width: 30%;} 
   main figure.myphoto3 img {width:100%;}


/*----------- FOOTER --------------*/
    
} /* end of media query */