/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
    header img{width: auto;}
    header h1{font-size: 2rem;}
    header h2{font-size: 1.5rem;}


/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {float: left;}

    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/
    h2 {
        font-family: Showcard Gothic;    
        text-align: left;
        font-size: 30px;
        color: navy}
    }
    
    .herodiv {
        margin: 10px auto;
        position: relative;
        
    }
    
    main figure.myphoto2 {
    width: 100%;
    margin: 0 0 0 0%;
    float: center;
}
main figure.myphoto2 img {width: 100%;}
      
    .weathersummary {
        position: absolute;
        top: 50px;
        left: 50px;
        background: radial-gradient(lawngreen, darkgreen);
        border: 1px solid darkgreen;
        padding: .5rem;
        box-shadow: 0 0 30px #777;
        font-family: Showcard Gothic;
        
        
        
    }
        
    
</main>

    

/*----------- FOOTER --------------*/
    
} /* end of media query */