/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
    header h1{padding-bottom: 0rem; font-size: 2rem;}
    header h2{padding-top: 0rem; font-size: 1.5rem;}


/*----------- NAVIGATION --------------*/
    nav button {display: none;}
    nav ul.hide {display: block;}
    nav ul {margin-left: 2%;}
    nav ul li {float: left;}

    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/
h5.hidesmall {display:block;}
table.test123 {display:block;}
    
h5 {
        font-family: Showcard Gothic;    
        text-align: left;
        font-size: 25px;
        color: navy;
        margin:0px;
        padding-bottom: 2rem;
    }

th {
        font-family: Showcard Gothic;    
        text-align: center;
        font-size: 20px;
        color: Black;
        background-color: darkgreen;
        
                       
    }

tr {
        font-family: Showcard Gothic;    
        text-align: left;
        font-size: 15px;
        color: Black;
                                       
}
.herodiv2 {
            
        padding: 0px;
        margin: 0px;
        text-align: left;
        float: left;
        width: 100%;
         }

.templeschedule {
            
        padding: 0px;
        margin: 0px;
        text-align: left;
        float: left;
        width: 100%;
         }
    main figure.ifpic1 {width: 50%; float: right;padding-left: 2%;} 
    main figure.ifpic1 img {width:50;}                    
        
    main figure.slcpic {width: 50%; float: right;padding-left: 2%;} 
    main figure.slcpic img {width:100%;}
    
    main figure.idahofalls2 {width: 50%; float: right;padding-left: 2%;} 
    main figure.idahofalls2c img {width:100%;}
    
    main figure.gilbert2 {width: 50%; float: right;padding-left: 2%;} 
    main figure.gilbert2 img {width:100%;}
    
    main figure.sandiego2 {width: 50%; float: right;padding-left: 2%;} 
    main figure.sandiego2 img {width:100%;}
    
    main figure.bellevue2 {width: 50%; float: right;padding-left: 2%;} 
    main figure.bellevue2 img {width:100%;}
    
    div.herodiv3 section:nth-child(1){width: 33%; float: left;}
    div.herodiv3 section:nth-child(2){width: 33%; float: left;}
    div.herodiv3 section:nth-child(3){width: 33%; float: left;}
    
    div.templeSchedule section:nth-child(1){width: 50%; float: left;}
    div.templeSchedule section:nth-child(2){width: 50%; float: left;}
 
/* hover effect */
.norm:hover {box-shadow: 0 0 50px #333;}
        
    div.templeGallery figure {
        flex-basis: 46%;
    }
    
    div.suitesGallery figure {
        flex-basis: 46%;
    }
    
     div.services figure {
        flex-basis: 46%;
    }
    
    div.services figure {
        flex-basis: 46%;
    }
    
    div.town123 article{
        flex-basis: 46%;
    }
       
    div.town123 article:hover {box-shadow: 0 0 50px #333;} 
/*----------- FOOTER --------------*/
    
} /* end of media query */