/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    font-family: "Times New Roman", Times, serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: deepskyblue;
    font-family: "Showcard Gothic", Times, serif;
    text-align: center;
    
}
header img{margin:auto; float: left; width: 75px;}
header h1 {margin:auto; font-size: 25px; color: navy}
header h2 {margin:auto; font-size: 15px; color: navy}


/*----------- NAVIGATION --------------*/
nav {
    background-color: gold;
    font-family: "Bernard MT Condensed"
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: dodgerblue;
    padding: .3rem 0;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

nav ul li a:hover {
    background-color: whitesmoke;
    color: dodgerblue;
}
nav ul li.active a {
    background-color: dodgerblue;
    color: white;
}
nav ul.hide {display: none;}
/*----------- MAIN --------------*/
main {
    margin:0px;
    border:1px black solid;    
    background-color: antiquewhite;
    padding: 0 2%;
    min-height: 10rem;
    }
header h4 {margin:auto; font-size: 25px; color: navy}
/*----------- FOOTER --------------*/
footer {
    background-color: gold;
    padding: .5rem 2%;
    text-align: center;
    clear: both;
    margin: 0px;



/*----- Clearfix: Force an Element not to collapse -----*/

    
    