/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */


/*----------- apply a natural box layout model to all elements --------------*/



/*----------- BODY --------------*/

/*----------- HEADER --------------*/




/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
thead {font-size: 20px;}
      
table, th, td {
  border: 2px solid lightgray;
  padding: .3rem .3rem;
       }

table {
  border-collapse: collapse;
  font-family: Ubuntu, sans-serif;
  text-align: center;
  box-shadow: 5px 5px 5px #628ca6;
    }

th {
    background-color: #7fb9c2;
    font-size: 20px; color: white;
    text-align: center;
    padding: .3rem .3rem .3rem .3rem;
    border: 2px solid lightgray;}
    
    
tr:nth-child(even) {background: #e7f0ed}
tr:nth-child(odd) {background: #e7ffed}



tfoot {font-size: 12px;}

/*----- Clearfix: Force an Element not to collapse -----*/
